#leftEarPosition,
#leftEarRotate,
#rightEarPosition,
#rightEarRotate,
#tailRotate {
	transition: all 1.5s ease-in-out;
}

svg#svgContainer:hover #leftEarPosition {
	transform: translate(80.856711px, 134.710713px);
}

svg#svgContainer:hover #leftEarRotate {
	transform: rotate(-56.844645deg);
}

svg#svgContainer:hover #rightEarPosition {
	transform: translate(170.308179px, 118.323632px);
}
svg#svgContainer:hover #rightEarRotate {
	transform: rotate(50.289003deg);
}
svg#svgContainer:hover #tailRotate {
	transform: translate(252.76282px, 222.039048px) rotate(-5.483906deg);
}
/* @keyframes leftEarPositionAnimationOpen {
	0% {
		transform: translate(88.429634px, 125.717866px);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	100% {
		transform: translate(80.856711px, 134.710713px);
	}
}

@keyframes leftEarPositionAnimationClose {
	0% {
		transform: translate(80.856711px, 134.710713px);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		transform: translate(88.429634px, 125.717866px);
	}
} */

/* @keyframes leftEarRotateAnimationOpen {
	0% {
		transform: rotate(-34.153047deg);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	100% {
		transform: rotate(-56.844645deg);
	}
}

@keyframes leftEarRotateAnimationClose {
	0% {
		transform: rotate(-56.844645deg);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		transform: rotate(-34.153047deg);
	}
} */

/* svg#svgContainer #rightEarPosition {
	animation: rightEarPositionAnimationClose 1500ms linear 1 normal forwards;
} */

/* @keyframes rightEarPositionAnimationOpen {
	0% {
		transform: translate(158.895473px, 107.624222px);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	100% {
		transform: translate(170.308179px, 118.323632px);
	}
}

@keyframes rightEarPositionAnimationClose {
	0% {
		transform: translate(170.308179px, 118.323632px);
		animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}
	100% {
		transform: translate(158.895473px, 107.624222px);
	}
}
@keyframes rightEarPositionAnimation {
	0% {
		transform: translate(158.895473px, 107.624222px);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	33.333333% {
		transform: translate(170.308179px, 118.323632px);
	}
	66.666667% {
		transform: translate(170.308179px, 118.323632px);
		animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}
	100% {
		transform: translate(158.895473px, 107.624222px);
	}
} */

/* svg#svgContainer #rightEarRotate {
	animation: rightEarRotateAnimationClose 1500ms linear 1 normal forwards;
} */

/* @keyframes rightEarRotateAnimationOpen {
	0% {
		transform: rotate(31.710381deg);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	100% {
		transform: rotate(50.289003deg);
	}
}

@keyframes rightEarRotateAnimationClose {
	0% {
		transform: rotate(50.289003deg);
		animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}
	100% {
		transform: rotate(31.710381deg);
	}
}
@keyframes rightEarRotateAnimation {
	0% {
		transform: rotate(31.710381deg);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	33.333333% {
		transform: rotate(50.289003deg);
	}
	66.666667% {
		transform: rotate(50.289003deg);
		animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}
	100% {
		transform: rotate(31.710381deg);
	}
} */

/* svg#svgContainer #tailRotate {
	animation: tailRotateAnimationClose 1500ms linear 1 normal forwards;
} */

/* @keyframes tailRotateAnimationOpen {
	0% {
		transform: translate(252.76282px, 222.039048px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	100% {
		transform: translate(252.76282px, 222.039048px) rotate(-5.483906deg);
	}
}

@keyframes tailRotateAnimationClose {
	0% {
		transform: translate(252.76282px, 222.039048px) rotate(-5.483906deg);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		transform: translate(252.76282px, 222.039048px) rotate(0deg);
	}
}

@keyframes tailRotateAnimation {
	0% {
		transform: translate(252.76282px, 222.039048px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	33.333333% {
		transform: translate(252.76282px, 222.039048px) rotate(-5.483906deg);
	}
	66.666667% {
		transform: translate(252.76282px, 222.039048px) rotate(-5.483906deg);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		transform: translate(252.76282px, 222.039048px) rotate(0deg);
	}
} */
