@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
	overflow: hidden;
} */
.heatmapcontainer {
	height: 100px;
	width: 100px;
}

.material-symbols-outlined {
	font-variation-settings:
		"FILL" 1,
		"wght" 300,
		"GRAD" 0,
		"opsz" 48;
}

.unfilled-icon {
	font-variation-settings: "FILL" 0;
}

span.material-symbols-outlined:active {
	font-variation-settings:
		"FILL" 1,
		"wght" 400;
}

@keyframes pulse {
	0% {
		font-variation-settings: "wght" 100;
	}
	50% {
		font-variation-settings: "wght" 700;
	}
	100% {
		font-variation-settings: "wght" 100;
	}
}
.material-symbols-outlined.pulse {
	animation: pulse 3s infinite;
}
